/* You can add global styles to this file, and also import other style files */
@import 'sidebar.less';

body {
    overflow-x: hidden;
}

.wrapper-container {
    height: 600px;
}

.card img {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}