/* You can add global styles to this file, and also import other style files */
@import 'sidebar.less';

body {
    overflow-x: hidden;
}

.wrapper-container {
    height: 600px;
}

.card-container {
    width: 1000px;
}

.header-container {
    width: 45vw;
    background-color: #17a2b8;
    border-radius: 5px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 3rem;
    padding-top: 0.25rem;
}

.card img {
    max-width    : 75%;
    margin-left  : auto;
    margin-right : auto;
    margin-top   : 1rem;
    margin-bottom: 1rem;
}

.cta .cta-inner {
    position: relative;
    padding: 3rem;
    margin: .5rem;
    background-color: rgba(255,255,255,.85);
}

.cta .cta-inner:before {
    border-radius: .5rem;
    content: '';
    position: absolute;
    top: -.5rem;
    bottom: -.5rem;
    left: -.5rem;
    right: -.5rem;
    border: .25rem solid rgba(255,255,255,.85);
}

.text-center {
    text-align: center!important;
}
.rounded {
    border-radius: .25rem!important;
}

.section-heading {
    text-transform: uppercase;
}

.section-heading .section-heading-upper {
    display: block;
    font-size: 1rem;
    font-weight: 800;
}

.section-heading .section-heading-lower {
    display: block;
    font-size: 3rem;
    font-weight: 100;
}