<div class="d-flex wrapper-container">

    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Yu-Gi-Oh Deck! </div>
        <div class="list-group list-group-flush">
            <cdk-virtual-scroll-viewport itemSize="{{cardNames.length}}" class="list-viewport">
                <ng-container *cdkVirtualFor="let card of cardNames">
                    <span (click)="cardClicked(card)">
                        <a class="list-group-item list-group-item-action bg-light">{{card}}</a>
                    </span>
                </ng-container>
            </cdk-virtual-scroll-viewport>
        </div>
    </div>

    <div id="page-content-wrapper">
        <div class="container-fluid">
            <h2 class="mt-4 text-center">Cards Available</h2>
            <div class="row">
                <ng-container *ngIf="isCardClicked">
                    <div class="col-4 custom-card-container">
                        <div class="card custom-card mx-auto">
                            <img src="../" class="card-img-top">
                            <div class="card-body d-flex justify-content-center">
                                <h5 class="card-title align-self-center">{{card.name}}</h5>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Type: {{card.card_type}}</li>
                                <li class="list-group-item">Description: {{card.text}}</li>
                            </ul>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="!isCardClicked">
                    <h6 class="text-center">Please click a card from the menu at the left to show their details</h6>
                </ng-container>
            </div>
        </div>
    </div>

</div>