<div class="d-flex wrapper-container" ngxUiLoaderBlurred>

    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Yu-Gi-Oh Deck! <button class="btn btn-info btn-sm float-right" [disabled]="!isCardClicked"
                (click)="goHome()">Home</button>
        </div>
        <div class="list-group list-group-flush">
            <ng-container *ngIf="listLoaded">
                <card-list [cardList]="cardList" (onCardClicked)="selectedCard($event)"></card-list>
            </ng-container>
        </div>
    </div>

    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="header-container">
                    <h2 *ngIf="!isCardClicked" class="text-center">Yu-Gi-Oh Card Site</h2>
                    <h2 *ngIf="isCardClicked" class="text-center">{{card.name}}</h2>
                </div>
            </div>

            <div class="row cta">
                <ng-container *ngIf="isCardClicked">
                    <card-details [card]="card" class="mx-auto"></card-details>
                </ng-container>

                <ng-container *ngIf="!isCardClicked">
                    <div class="row">
                        <div class="col-xl-9 mx-auto">
                            <div class="cta-inner text-center rounded">
                                <h2 class="section-heading mb-4">
                                    <span class="section-heading-upper">Yu-Gi-Oh</span>
                                    <span class="section-heading-lower">Cards</span>
                                </h2>
                                <p class="text-center font-weight-bold">Please click a card from the menu at the left to
                                    show their details</p>
                                <p class="mb-0">YugiohPrices.com is a website dedicated to providing Yu-Gi-Oh players.
                                    Details about Yu-Gi-Oh cards! The description of each Yu-Gi-Oh card!
                                    Information about the property of the cards! Other details described for each card!
                                </p>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>
<ngx-ui-loader></ngx-ui-loader>